<!-- Validation failure messages -->
<% if @friend_request.present? %>
  <% if @friend_request.errors.any? %>
    <% @friend_request.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new friend request
</h1>


<hr>

<!-- Form friend_request start -->
<form action="/create_friend_request" method="post">
<!-- Form friend_request end -->

  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <!-- Label and input for sender_id start -->
  <div class="form-group">
    <label for="sender_id">
      Sender
    </label>

    <!-- Input for sender_id start -->
    <input type="text" id="sender_id" name="sender_id" class="form-control" value="<%= @friend_request.try(:sender_id) %>">
    <!-- Input for sender_id end -->
  </div>
  <!-- Label and input for sender_id end -->

  <!-- Label and input for recipient_id start -->
  <div class="form-group">
    <label for="recipient_id">
      Recipient
    </label>

    <!-- Input for recipient_id start -->
    <input type="text" id="recipient_id" name="recipient_id" class="form-control" value="<%= @friend_request.try(:recipient_id) %>">
    <!-- Input for recipient_id end -->
  </div>
  <!-- Label and input for recipient_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create friend request
  </button>
</form>

<hr>

<a href="/friend_requests">
  Go back
</a>
