<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    Characters
  </li>

  <% @movie.characters.each do |casting| %>
    <li class="list-group-item">
      <a href="/castings/<%= casting.id %>">
        <%= casting.character_name %>
      </a>
    </li>
  <% end %>
  
  <li class="list-group-item">
    <%= render partial: "movie_templates/movie_characters_new_form" %>
  </li>
</ul>
