<form action="/create_casting" method="post">
  <div class="form-group">
    <label for="movie_id">
      Movie
    </label>

    <input type="text" id="movie_id" name="movie_id" class="form-control" value="<%= @casting.try(:movie_id) %>">
  </div>

  <div class="form-group">
    <label for="actor_id">
      Actor
    </label>

    <input type="text" id="actor_id" name="actor_id" class="form-control" value="<%= @casting.try(:actor_id) %>">
  </div>

  <div class="form-group">
    <label for="character_name">
      Character name
    </label>

    <input type="text" id="character_name" name="character_name" class="form-control" value="<%= @casting.try(:character_name) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create casting
  </button>
</form>
