<div class="card">
  <div class="card-header">
    Characters
  </div>

  <ul class="list-group list-group-flush">
    <% @movie.characters.each do |casting| %>
      <li class="list-group-item">
        <a href="/castings/<%= casting.id %>">
          <%= casting.character_name %>
        </a>
      </li>
    <% end %>

    <li class="list-group-item list-group-item-light">
      <div class="text-right">
        <a data-toggle="collapse" href="#movie_characters_new_form">
          Add a casting to this movie
        </a>
      </div>

      <div id="movie_characters_new_form" class="collapse">
        <%= render partial: "movie_templates/movie_characters_new_form" %>
      </div>
    </li>
  </ul>
</div>
