<form action="/create_casting" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  
  <div class="form-group">
    <label for="movie_id">
      Movie
    </label>

    <%= select_tag(:movie_id, options_from_collection_for_select(Movie.all, :id, :title, @casting.movie_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="actor_id">
      Actor
    </label>

    <%= select_tag(:actor_id, options_from_collection_for_select(Actor.all, :id, :name, @casting.actor_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="character_name">
      Character name
    </label>

    <input type="text" id="character_name" name="character_name" class="form-control" value="<%= @casting.try(:character_name) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create casting
  </button>
</form>
